## Update Defective Case Dataset
Current dataset only includes cases with defects found, therefore instances where item runs without defects is not included in gross percentage defective calculation. Using Python and SQL merge current dataset with query from ProdDB to include these instances.

---
Importing packages

In [2]:
import pandas as pd

Reading and Defining Dataframes

In [53]:
from numpy import int64


Original_DF = pd.read_csv("original.csv", header = 0, encoding = 'unicode_escape', engine ='python')

# force numeric ID columns to be of type str
datatypesdict = {'Job #' : str, 'Item' : str}
Original_DF = Original_DF.astype(datatypesdict)

# Create New Column for Join with DF2
Original_DF["JobItem"] = Original_DF["Job #"] + Original_DF["Item"]

# check out top 5 rows
Original_DF.head(10)

,Date,Customer,Job #,Item,AQL Shift,Inspection Station (Gluer),Total Pieces,Defect Code,Defect Description,Defective Samples,Total Samples,Total Estimated Defective,Department of Origin,Machine of Origin,JobItem
0,9/29/2021,Titleist,411647,8607.0,1,2,300,P6,Coating,5,20,75.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
1,9/29/2021,Titleist,411647,8607.0,1,2,300,P6,Coating,2,20,30.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
2,9/29/2021,Titleist,411647,8607.0,1,2,300,P6,Coating,2,20,30.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
3,9/29/2021,Titleist,411647,8607.0,1,2,300,P3,Marks,5,20,75.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
4,9/29/2021,Titleist,411647,8607.0,1,2,300,NaN,Peeling,14,20,210.0,Other,BOBST 130ER DC3,4116478607.0
5,9/29/2021,Titleist,411647,8607.0,1,4,900,P7,Dry up,5,20,225.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
6,9/29/2021,Titleist,411647,8607.0,1,4,900,P7,Dryup,5,20,225.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
7,9/29/2021,Titleist,411647,8607.0,1,4,900,P7,Dryup,5,20,225.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
8,9/29/2021,Titleist,411647,8607.0,1,4,900,P7,Dryup,5,20,225.0,PRINTING,KBA RAPIDA130 P3,4116478607.0
9,9/29/2021,Titleist,411647,8607.0,1,4,900,P7,Dryup,5,20,225.0,PRINTING,KBA RAPIDA130 P3,4116478607.0

In [70]:
Master_Job_Set = pd.read_csv('JobITemMaster.csv', header = 0, encoding = 'unicode_escape', engine ='python')
Master_Job_Set = Master_Job_Set.astype(datatypesdict)
# Master_Job_Set['Item'] = Master_Job_Set['Item'].apply(str)

Master_Job_Set.dtypes

# New Column for Join
Master_Job_Set["JobItem"] = Master_Job_Set["Job #"] + Master_Job_Set["Item"]

Master_Job_Set.head()

   Item   Job #     JobItem
0   7.0  380070   3800707.0
1   7.0  380070   3800707.0
2   8.0  380105   3801058.0
3   8.0  380105   3801058.0
4  12.0  380105  38010512.0

In [73]:
from asyncio.windows_events import NULL


Join = pd.merge(Master_Job_Set, Original_DF, on="JobItem", how="left")

Join.describe()

# Join[(Join["Total Samples"] > 0)]

# Join.to_csv("./UpdatedDataset.csv")

       Defective Samples  Total Samples  Total Estimated Defective
count       13126.000000   13126.000000               13122.000000
mean           13.615572      28.100564                 320.176650
std            10.159671       9.732785                 309.059337
min             0.000000       1.000000                   0.000000
25%             6.000000      20.000000                 131.000000
50%            10.000000      32.000000                 225.000000
75%            20.000000      32.000000                 375.000000
max            75.000000      80.000000                4202.000000